<div class="container" style="padding-top: 90px;">
    <h2>Add Category</h2>
    <form method="POST" action="/categories/add">
        <div class="form-group">
            <label for="category">Category:</label>
            <input class="form-control" id="category" name="category" type="text" required />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Add Category</button>
    </form>
</div>
